// ************ footer *************

footer{
    background-color: $primary;
}
.footer-top{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem 0 2rem 0;
}
footer h3{
    color: white;
    font-size:medium;
}

.footer-top{
    display: flex;
    position: relative;
}
// .logo{
//     display: flex;
//     position: relative;
// }
// .logo h2{
//     position: absolute;
//     color: white;
//     top: 0;
//     left: 2rem;
// }


.footer-top .footer-disc p{
    color: $textcolor;
}
a{
    text-decoration: none;
    transition: .4s all;
    color: $textcolor;
}
button{
    height: 2rem;
    width: 5.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
}
.footer-bottom{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1rem;
    color: $textcolor;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.logo-icon {
    // position: absolute;
    display: flex;
    top: 0;
}

.logo-text {
  color: #ffffff;
  font-size: 2rem;
//   font-family: 'Poppins', sans-serif;\
  font-weight: 600;
}

.logo-icon img{
    width: 1rem;
}

.footer-company ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-help ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-work ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-disc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

// ***************** header ******************

.header-panel .logo-text {
  color: $secondary;
  font-size: 2rem;
//   font-family: 'Poppins', sans-serif;\
  font-weight: 600;
}

.header-panel{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1rem 0 1rem;
    gap: 1rem;
}
.right-bar ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.blue{
    color: $basecolor;
}

// ************ hero-section ************
.hero-panel{
    display: flex;
    position: relative;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}
.hero-left .bottom-panel{
    position: absolute;
    bottom: 2rem;
}
.hero-contect{
    display: flex;
    gap: 2rem;
    align-items: center;
}

// ********** funfact section **********

.funfact-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
    color: white;

}
.fun-fact{
    background-color: $primary;
}