footer{
    background-color: $primary;
}

.footer-top{
    display: flex;
    position: relative;
}
// .logo{
//     display: flex;
//     position: relative;
// }
// .logo h2{
//     position: absolute;
//     color: white;
//     top: 0;
//     left: 2rem;
// }